body {
	font-family: sans-serif;
	font-weight: 300;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

.item {
	box-sizing: border-box;
	flex-basis: 50%;
	padding: 2rem;
	font-size: 1.5rem;
	font-weight: inherit;
	color: #fff;
}

.item:nth-of-type(3n) {
	flex-basis: 100%;
}

.item.one {
	background: blue;
}

.item.two {
	background: navy;
}

.item.three {
	background: steelblue;
}

.item.four {
	background: dodgerblue;
}

.item.five {
	background: indigo;
}

.item.six {
	background: slateblue;
}

.item.seven {
	background: darkblue;
}

.item.eight {
	background: cornflowerblue;
}

.item.nine {
	background: mediumblue;
}
