@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap");

body {
  font-family: "Lora", serif;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
.grid {
  display: grid;
  place-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 1rem;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #cdcdcd;
}

.visual {
  aspect-ratio: 16 / 9;
  background: slateblue;
}
