@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap");

body {
  font-family: "Lora", serif;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
.grid {
  display: grid;
  place-items: center;
}
