* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #FFF;
}

.container {
  display: flex;
  height: 100vh;
  width: auto;
  justify-content: center;
  align-items: center;
  background: #20b2aa;
  background-size: cover;
}

.button {
  padding: 10px 25px;
  border: 1px solid #F7F7F7;
  border-radius: 3px;
  background: #191970;
  font-family: Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.button:hover {
  background: #007FFF;
  transform: translateY(5px);
}
