html {
  box-sizing: border-box;
}

/* Border-Box Fix */

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial;
  text-align: center;
  background: #1E90FF;
  color: #FFF;
}

.container {
  max-width: 600px;
  margin: 50px auto 0 auto;
}

header, footer {
  display: flex;
  justify-content: center;
  height: 60px;
  background: #FF7F50;
}

aside, article {
  display: flex;
  justify-content: center;
  height: 250px;
  float: left;
}

header p, aside p, article p, footer p {
  display: flex;
  align-items: center;
}

aside {
  width: 200px;
  background: #32CD32;
}

article {
  width: 400px;
  background: #1464F4;
}

footer {
  clear: both;
}
