html {
  box-sizing: border-box;
}

/* Border-Box Fix */

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial;
  text-align: center;
  background: #1E90FF;
}

header, footer {
  display: flex;
  justify-content: center;
  height: 60px;
  background: #FF7F50;
  color: #FFF;
}

header p, footer p {
  display: flex;
  align-items: center;
}
