html {
	--white: #fff;
	--main-headline: #008bbf;
	--sub-headline: #21a562;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	background: #fff;
}

h2,
h3 {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
}

h3 {
	margin-bottom: 22px;
}

p {
	margin-bottom: 0;
}

.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
	justify-content: center;
}

.headline {
	padding: 20px;
	font-size: inherit;
	color: var(--white);
}

.headline.main-headline {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	background: var(--main-headline);
}

.headline.sub-headline {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	background: var(--sub-headline);
}
