body {
	font-family: sans-serif;
	font-size: 16px;
	background: #fff;
}

.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
	justify-content: center;
}

.headline {
	padding: 10px 15px;
}

.headline.main-headline {
	background: #008bbf;
	color: #fff;
}

.headline.sub-headline {
	background: #21a562;
	color: #fff;
}
